RAILS_ENV=development
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=raomeo_management_development
DATABASE_TEST_NAME=raomeo_management_test
JWT_SECRET_KEY=change-me-in-production
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://0.0.0.0:5173
REDIS_URL=redis://redis:6379/0
ACTIVE_JOB_ADAPTER=async
